@import '_variables.scss';
@import '_mixins.scss';

.about-us {
  background-color: $colorLightBlack;

  &__container {
    @include setContainerBaseStyles;

    padding-top: 30px;
    padding-bottom: 69px;
  }

  &__title {
    @include setTitleBaseStyles;

    margin: 0 0 2px 0;
    color: $colorWhite;
  }

  &__desc {
    margin: 3px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: $colorGrey;
  }

  &__wrapper__bg {
    margin: 0 0 22px 0;
    height: 255px;
    background-image: url('images/about-us-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__wrapper__title {
    margin: 0 0 13px 0;
    font-family: 'TT Firs Neue';
    font-size: 24px;
    font-weight: 400;
    color: $colorWhite;
  }

  &__wrapper__input {
    padding: 15px 23px;
    margin: 0 25px 0 0;
    border: none;
    width: 474px;
    font-family: 'TT Firs Neue';
    font-size: 16px;
    line-height: 19px;
    color: $colorWhite;
    background-color: $colorTooDarkGrey;
    transition: all .3s ease;
  }

  &__wrapper__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $colorGrey;
    transition: all .3s ease;
  }

  .js-validate-error-label {
    display: none !important;
  }

  .js-validate-error-field {
    border: 1px solid #FF3030 !important;
  }

  &__wrapper__btn {
    @include clearButtonStyles;
    @include setOrangeButtonStyles;
  }
}
