@import '_variables.scss';
@import '_mixins.scss';

.contacts {
  background-color: $colorWhite;

  &__container {
    @include setContainerBaseStyles;

    padding-top: 34px;
    padding-bottom: 68px;
  }

  &__title {
    @include setTitleBaseStyles;

    margin: 0 0 22px 0;
    color: $colorLightBlack;
  }

  &__left {
    position: relative;
    background-image: url('images/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__left::after {
    position: absolute;
    content: '';
    top: 95px;
    right: 227px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $colorOrange;
  }

  &__left-wrapper {
    position: absolute;
    padding: 175px 50px 144px 60px;
    background-color: rgba(32, 32, 32, 0.85);
    opacity: 1;
    transition: all .3s ease;
  }

  &__left__button {
    @include clearButtonStyles;

    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    transition: all .3s ease;
  }

  &__left__title {
    margin: 0 0 4px 0;
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    color: $colorWhite;
  }

  &__left__address {
    margin: 0 0 3px 0;
    max-width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: $colorGrey;
  }

  &__left__address__break {
    display: none;
  }

  &__left__phone {
    @include setPhoneStyle;
  }

  &__left__phone__svg {
    position: relative;
    top: 3px;
    left: 2px;
  }

  &__right__title {
    margin: -6px 0 4px 0;
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    color: $colorLightBlack;
  }

  &__right__desc {
    margin: 0 0 15px 0;
    max-width: 370px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $colorDarkGrey;
  }

  &__right__input {
    padding: 15px 23px;
    margin: 0 0 22px 0;
    border: none;
    width: 100%;
    font-family: 'TT Firs Neue';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $colorLightBlack;
    background-color: $colorLightGrey;
    transition: all .3s ease;
  }

  &__right__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $colorDarkGrey;
    transition: all .3s ease;
  }

  &__right__comment {
    padding: 15px 23px;
    margin: 0 0 15px 0;
    border: none;
    width: 100%;
    height: 150px;
    font-family: 'TT Firs Neue';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $colorLightBlack;
    background-color: $colorLightGrey;
    transition: all .3s ease;
  }

  &__right__comment::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $colorDarkGrey;
    transition: all .3s ease;
  }

  .js-validate-error-label {
    display: none !important;
  }

  .js-validate-error-field {
    border: 1px solid #FF3030 !important;
  }

  &__right__btn {
    @include clearButtonStyles;
    @include setOrangeButtonStyles;
  }
}
