@import '_variables.scss';
@import '_mixins.scss';

.projects {
  background-color: $colorWhite;

  &__container {
    @include setContainerBaseStyles;

    padding-top: 68px;
    padding-bottom: 34px;
  }

  &__title {
    @include setTitleBaseStyles;

    margin-bottom: 12px;
    color: $colorLightBlack;
  }

  &__photo__bg {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__photo__bg-1 {
    background-image: url('images/projects-img-small-1.jpg');
  }

  &__photo__bg-2 {
    background-image: url('images/projects-img-small-2.jpg');
  }

  &__photo__bg-3 {
    background-image: url('images/projects-img-small-3.jpg');
  }

  &__photo__bg-4 {
    background-image: url('images/projects-img-big-1.jpg');
  }

  &__photo__bg-5 {
    background-image: url('images/projects-img-big-2.jpg');
  }

  &__photo__bg-6 {
    background-image: url('images/projects-img-medium-1.jpg');
  }

  &__photo__bg-7 {
    background-image: url('images/projects-img-medium-2.jpg');
  }

  &__photo__bg--small {
    margin: 0 0 18px 0;
    height: 184px;
  }

  &__photo__bg--medium {
    margin: 0 0 18px 0;
    height: 184px;
  }

  &__photo__photo-tag {
    @include setPhotoTagStyles;

    top: 7px;
    right: 7px;
    padding: 6px 14px;
  }

  &__photo__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__photo__wrapper--small {
    .projects__photo__desc {
      margin: 0 0 10px 0;
      color: $colorLightBlack;
    }

    .projects__photo__desc-1330 {
      display: none;
    }
  }

  &__photo__wrapper--medium {
    .projects__photo__desc {
      margin: 0 0 10px 0;
      color: $colorLightBlack;
    }
  }

  &__photo__wrapper--big {
    padding: 22px 30px 30px 30px;

    .projects__photo__date {
      margin: 0 0 2px 0;
      color: $colorWhite;
    }

    .projects__photo__calendar path,
    .projects__photo__calendar rect {
      fill: $colorWhite;
    }

    .projects__photo__title {
      margin: 0 0 6px 0;
      max-width: 293px;
      font-family: 'TT Firs Neue', sans-serif;
      font-size: 24px;
      line-height: 24px;
      color: $colorWhite;
    }

    .projects__photo__desc {
      max-width: 292px;
      color: $colorWhite;
    }
  }

  &__photo__wrapper-1--big {
    .projects__photo__desc {
      margin: 0 0 54px 0;
    }
  }

  &__photo__wrapper-2--big {
    .projects__photo__desc {
      margin: 0 0 101px 0;
    }
  }

  &__photo__desc {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

  &__photo__desc-1330 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

  &__photo__break {
    display: none;
  }

  &__photo__date {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: $colorDarkGrey;
  }

  &__photo__calendar {
    margin: 0 4px 0 0;
  }

  &__photo__btn {
    @include clearButtonStyles;
    @include setTransparentButtonStyles
  }
}
