$colorOrange: #FF6E30;
$colorBrown: #BC572B;
$colorDarkOrange: #CE4307;
$colorPink: #F06666;
$colorRed: #FF3030;
$colorBeige: #FFD4C1;
$colorWhite: #ffffff;
$colorLightGrey: #E9E9E9;
$colorGrey: #CACACA;
$colorDarkGrey: #999999;
$colorTooDarkGrey: #4A4A4A;
$colorLightBlack: #202020;
$colorBlack: #202020;

$screen-md: 1330px;
$screen-sm: 930px;
$screen-xsm: 758px;
