@import '_variables.scss';
@import '_mixins.scss';

.works {
  background-color: $colorWhite;

  &__container {
    @include setContainerBaseStyles;

    padding-top: 41px;
    padding-bottom: 68px;
  }

  &__bg {
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__left {
    display: flex;
    position: relative;
    padding: 60px;
    height: 630px;
    background-image: url('images/neon-img-1.jpg');
  }

  &__left__wrapper {
    margin-top: auto;
  }

  &__left__photo-tag {
    @include setPhotoTagStyles;

    top: 15px;
    right: 15px;
    padding: 7px 15px;
  }

  &__left__sub-title {
    margin: 0 0 2px -1px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $colorWhite;
  }

  &__left__title {
    margin: 0 0 20px -1px;
    max-width: 427px;
    font-family: 'TT Firs Neue';
    font-size: 36px;
    font-weight: 700;
    line-height: 37px;
    color: $colorWhite;
  }

  &__left__btn {
    @include clearButtonStyles;
    @include setOrangeButtonStyles;
  }

  &__right__title {
    margin: 0 0 18px 0;
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    color: $colorLightBlack;
  }

  &__right__bg-2 {
    height: 300px;
    background-image: url('images/neon-img-2.jpg');
  }

  &__right__bg-3 {
    height: 257px;
    background-image: url('images/neon-img-3.jpg');
  }

  &__right__bg-4 {
    height: 257px;
    background-image: url('images/neon-img-4.jpg');
  }
}
