@import '../../variables';

.contacts {
  &__container {
    @media (max-width: $screen-sm) {
      padding: 27px 27px 68px 27px;
    }
  }

  &__left {
    @media (max-width: $screen-sm) {
      background-image: url('images/map-768.jpg');
    }
  }

  &__left::after {
    @media (max-width: $screen-sm) {
      right: 218px;
    }
  }

  &__left__address {
    @media (max-width: $screen-sm) {
      max-width: 415px;
    }
  }

  &__left__break {
    @media (max-width: $screen-sm) {
      display: block;
    }
  }

  &__left__phone {
    @media (max-width: $screen-sm) {
      top: 0;
      left: 0;
    }
  }

  &__right__desc {
    @media (max-width: $screen-sm) {
      max-width: 100%;
    }
  }

  &__right__input {
    @media (max-width: $screen-sm) {
      padding: 16px 23px;
      margin-bottom: 20px;
    }
  }

  &__right__comment {
    @media (max-width: $screen-sm) {
      margin-bottom: 16px;
    }
  }
}
