@import '../../variables';

.footer {
  &__container-top {
    @media (max-width: $screen-sm) {
      padding: 24px 27px 22px 27px;
    }
  }

  &__logo {
    @media (max-width: $screen-sm) {
      margin: 0 auto 0 0;
    }
  }

  &__logo__desc {
    @media (max-width: $screen-sm) {
      width: 240px;
    }
  }

  &__quote {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}
